/* line 1, ../sass/main.scss */
body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e0e0e0;
    color: #424242;
    font-family: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
    font-size: 1em;

}

@media (max-width: 414px)
{

    body{margin:0;}
    .header {
        height: 64px;
        background-color: white;
    }
    /* line 22, ../sass/main.scss */
    .header .logo {
       padding: 1em 1.5em 0.9em 0em;
        width: 30%;
    }
    /* line 25, ../sass/main.scss */
    .header nav {
        float: right;
        height: 100%;
        position: relative;
        line-height: 2.5em;
    }
    /* line 29, ../sass/main.scss */
    .header nav ul {
        margin: 0;
        padding: 0;
    }
    /* line 33, ../sass/main.scss */
    .header nav li {
        margin: 0;
        display: inline;
    }
    /* line 37, ../sass/main.scss */
    .header nav a {
        box-sizing: border-box;
        display: inline-block;
        padding: 0.75em;
        color: #37474f;
        text-transform: uppercase;
        text-decoration: none;

    }
    /* line 45, ../sass/main.scss */
    .header nav a:hover {
        background: #37474f;
        color: #fff;
    }
    .region-top
    {
        display: flex;
        flex-wrap: wrap;
    }

    /* line 57, ../sass/main.scss */
    .region-top a {
        text-decoration: none;
        color: white;
    }
    /* line 61, ../sass/main.scss */
    .region-top .article-left {

        width: 100%;
        position:relative;
    }
    .article-left article
    {
        display: grid;
    }
    .region-top .article-left div h1 {
        margin:0;
    }
    .region-top .article-left div p {
        margin:0;
    }
    /* line 65, ../sass/main.scss */
    .region-top .article-left div {
        position: absolute;
        bottom: 1.1em;
        left: 1em;
        background-color: #ff7043;
        padding: 0.2em;
        width: 22em;
        color: white;
        font-size:0.85em;
    }
    .region-top .article-left img {
        width:100%;
    }
    /* line 75, ../sass/main.scss */
    .region-top .article-right {
        width: 45%;
        background: green;

    }
    /* line 79, ../sass/main.scss */
    .region-top .article-right
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;}
    .region-top .article-right article {
        width:50%;
        overflow: hidden;
    }
    /* line 82, ../sass/main.scss */
    .region-top .article-right article div {
        height: 104px;
        padding: 0 1em 0 1em;
        font-size: 0.9em;
    }
    /* line 87, ../sass/main.scss */
    .region-top .article-right article img {
        width: 100%;
    }
    /* line 90, ../sass/main.scss */
    .region-top .article-right article h1 {
        color: white;
        font-size: 0.9em;
        margin: 0;
    }
    /* line 95, ../sass/main.scss */
    .region-top .article-right article:nth-child(1) {
        background-color: #c62828;
    }
    /* line 98, ../sass/main.scss */
    .region-top .article-right article:nth-child(2) {
        background-color: #5c6bc0;
    }
    /* line 105, ../sass/main.scss */
    ul.tags {
        margin: 0;
        padding: 0;
    }
    /* line 108, ../sass/main.scss */
    ul.tags li {
        list-style: none;
    }
    /* line 110, ../sass/main.scss */
    ul.tags li a {
        font-size: 0.9em;
    }

    /* line 116, ../sass/main.scss */
    .region-main {
        display: flex;

        flex-direction: column;

    }
    /* line 121, ../sass/main.scss */
    .region-main article {
        height: 100%;
        overflow: hidden;

    }
    /* line 125, ../sass/main.scss */
    .region-main article img {
       width:100%;


    }
    /* line 130, ../sass/main.scss */
    .region-main article h1 {
        margin: 0;

    }
    /* line 133, ../sass/main.scss */
    .region-main article p {
        margin: 0;
    }
    /* line 136, ../sass/main.scss */
    .region-main article .tags a {
        text-decoration: none;
        color: #1875d1;
    }
    .region-main img {
        width:100%;
    }
    .tags
    {display: none;}
    /* line 172, ../sass/main.scss */
    /* line 143, ../sass/main.scss */
    .region-sidebar {

        width: 100%;
        background-color: #f5f5f5;
        padding: 2em;
        box-sizing: border-box;

        color: #666;
    }
    /* line 151, ../sass/main.scss */
    .region-sidebar h1 {
        font-size: 1em;
    }
    /* line 154, ../sass/main.scss */
    .region-sidebar label {
        width: 100px;
        display: inline-block;
    }
    /* line 158, ../sass/main.scss */
    .region-sidebar input[type=submit] {
        background-color: #5677fc;
        border-radius: 2px;
        font-weight: 500;
        padding: .45em .938em .5em;
        text-transform: uppercase;
        border: 1px solid transparent;
        color: white;
        margin: 1em auto 0 auto;
        display: block;
        font-size: 0.9em;
    }
    .region-footer {
        clear: both;
        background-color: black;
        height: 50px;
    }


}

@media all and (orientation:landscape)
{

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background-color: white;
    }
    /* line 22, ../sass/main.scss */
    .header .logo {
        padding: 1em 1.5em 0.9em 0em;
        width: 30%;
    }
    /* line 25, ../sass/main.scss */
    .header nav {
        float: right;
        height: 100%;
        position: relative;
        line-height: 2.5em;
    }
    /* line 29, ../sass/main.scss */
    .header nav ul {
        margin: 0;
        padding: 0;
    }
    /* line 33, ../sass/main.scss */
    .header nav li {
        margin: 0;
        display: inline;
    }
    /* line 37, ../sass/main.scss */
    .header nav a {
        box-sizing: border-box;
        display: inline-block;
        padding: 0.75em;
        color: #37474f;
        text-transform: uppercase;
        text-decoration: none;

    }
    /* line 45, ../sass/main.scss */
    .header nav a:hover {
        background: #37474f;
        color: #fff;
    }
    .region-top .article-left img {
        width:100%;
    }
    .region-top
    {
        display: flex;

    }

    /* line 57, ../sass/main.scss */
    .region-top a {
        text-decoration: none;
        color: white;
    }
    /* line 61, ../sass/main.scss */
    .region-top .article-left {

        width: 100%;
        position:relative;
    }
    .article-left article
    {

    }
    .region-top .article-left div h1 {
        margin:0;
    }
    .region-top .article-left div p {
        margin:0;
    }
    /* line 65, ../sass/main.scss */
    .region-top .article-left div {
        position: absolute;
        bottom: 1.1em;
        left: 1em;
        background-color: #ff7043;
        padding: 0.2em;
        width: 22em;
        color: white;
        font-size:0.85em;
    }

    /* line 75, ../sass/main.scss */
    .region-top .article-right {
        width: 45%;
        background: green;

    }
    /* line 79, ../sass/main.scss */
    .region-top .article-right
    {
        width: 100%;
        display: flex;
        justify-content: flex-end;}
    .region-top .article-right article {
        width:50%;
        overflow: hidden;
    }
    /* line 82, ../sass/main.scss */
    .region-top .article-right article div {
        height: 104px;
        padding: 0 1em 0 1em;
        font-size: 0.9em;
    }
    /* line 87, ../sass/main.scss */
    .region-top .article-right article img {
        width: 100%;
    }
    /* line 90, ../sass/main.scss */
    .region-top .article-right article h1 {
        color: white;
        font-size: 0.9em;
        margin: 0;
    }
    /* line 95, ../sass/main.scss */
    .region-top .article-right article:nth-child(1) {
        background-color: #c62828;
    }
    /* line 98, ../sass/main.scss */
    .region-top .article-right article:nth-child(2) {
        background-color: #5c6bc0;
    }
    .region-main {
        display: flex;

        flex-direction: column;

    }
    .region-main > div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }
    /* line 121, ../sass/main.scss */
    .region-main article {
        height: 100%;
        overflow: hidden;

    }
    /* line 125, ../sass/main.scss */
    .region-main div img {
        width:45%;


    }
    .region-main div div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    /* line 130, ../sass/main.scss */
    .region-main article h1 {
        margin: 0;

    }
    /* line 133, ../sass/main.scss */
    .region-main article p {
        margin: 0;
    }
    /* line 136, ../sass/main.scss */
    .region-main article .tags a {
        text-decoration: none;
        color: #1875d1;
    }
    .region-main img {
        width:100%;
    }
    .tags
    {display: none;}
    .region-sidebar {

        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #f5f5f5;
        padding: 2em;
        font-size:1.2em;
        box-sizing: border-box;

        color: #666;
    }
    /* line 151, ../sass/main.scss */
    .region-sidebar h1 {
        font-size: 1em;
    }
    /* line 154, ../sass/main.scss */
    .region-sidebar label {
        width: 100px;
        display: inline-block;
    }
    /* line 158, ../sass/main.scss */
    .region-sidebar input[type=submit] {
        background-color: #5677fc;
        border-radius: 2px;
        font-weight: 500;
        padding: .45em .938em .5em;
        text-transform: uppercase;
        border: 1px solid transparent;
        color: white;
        margin: 1em auto 0 auto;
        display: block;
        font-size: 0.9em;
    }
    .region-footer {
        clear: both;
        background-color: black;
        height: 50px;
    }
}

/* line 14, ../sass/main.scss */
